{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="text-2xl">FIGHT</h1>
    <a href="/character/all">Home</a>
</div>
<div class="flex justify-center">
    <div class="border rounded shadow px-10 py-3 text-center">
        <p class="text-4xl font-bold underline mb-3">Fight Log</p>
        <div class="bg-yellow-500 rounded-lg">
            <p class="w-full bg-yellow-500">{{FAKE_DB['game'].log[-1] | safe}}</p>
        </div>
        {% for msg in FAKE_DB['game'].log[:-1] %}
        <p>{{ msg | safe }}</p>
        {% endfor %}
    </div>
</div>
<div class="flex justify-center">
    <a href="/" class="btn btn-primary my-3">Home</a>
</div>
{% endblock content %}